<%- include("header.ejs", {title:"Comentarios", logIn, username, img, post})%>
        <% const meses = ["jan", "fev", "mar", "abr","mai", "jun", "jul", "ago","set", "out", "nov", "dez"]; %>
        <section>
            <div class="container">
                
                <div class="post-page">
                    <a href="/feed">
                        <div id="arrow">
                            <img src="../imagens/arrow-left.png" alt="">
                        </div>
                    </a>
                <div class="post">
                    <div id="post-user-infos">
                        <img id="img-post" src="data:image/jpeg;base64, <%=post.user.userImg%>" alt="">
                        <p id="post-owner"><%= post.user.username%></p>
                        <p id="created-at">· <%= post.created_at.getDate() %> de <%= meses[post.created_at.getMonth()] %></p>
                    </div>
                    <div id="post-content">
                        <p>
                            <%= post.content %>
                        </p>  
                    </div>
                    <img id="comment-img" src="../imagens/opened-comments.png" alt="">
                </div>

                <div class="comment">
                    <div id="b-top"></div>
                    <div id="comment-user-infos">
                        <img id="img-comment" src="../imagens/image 1.png" alt="">
                        <p id="comment-owner">Joazin Gamer</p>
                        <p id="created-at">· 30 de jun</p>
                    </div>
                    <div id="comment-content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero accusantium fugiat necessitatibus animi quos tenetur perspiciatis accusamus officia. Ut, explicabo! Earum ipsa sunt delectus rem eius animi, ut dolor cumque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum deserunt corporis sequi odit molestias illum dicta corrupti quisquam ut praesentium. Odio eligendi porro minus esse! Labore ab architecto odit perspiciatis.
                        </p>  
                    </div>                                    
                </div>
                <div class="comment">
                    <div id="b-top"></div>
                    <div id="comment-user-infos">
                        <img id="img-comment" src="../imagens/image 1.png" alt="">
                        <p id="comment-owner">Fulano</p>
                        <p id="created-at">· 30 de jun</p>
                    </div>
                    <div id="comment-content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ea neque expedita sunt quod sit dolores, excepturi, aliquam natus praesentium rerum molestias reprehenderit error vero atque est hic odio. Non?
                        </p>  
                    </div>

                    
                </div>
                <%if (logIn){%>
                <div class="comment-space">
                    <a href="">
                        <button class="comment-btn">
                            Comentar
                        </button>
                    </a>
                </div>
                <%}%>
            </div>
        </div>

        

        </section>


    </body>
</html>