<%- include("header.ejs", {title:"Comentarios", logIn, user, img, post})%>
        <% const meses = ["jan", "fev", "mar", "abr","mai", "jun", "jul", "ago","set", "out", "nov", "dez"]; %>
        <section>
            <div class="container">
                
                <div class="post-page">
                    <a href="/feed">
                        <div id="arrow">
                            <img src="../imagens/arrow-left.png" alt="">
                        </div>
                    </a>
                <div class="post">
                    <div id="post-user-infos">
                        <div id="post-personal-user-infos">
                            <img id="img-post" src="data:image/jpeg;base64, <%=post.user.userImg%>" alt="">
                            <p id="post-owner"><%= post.user.username%></p>
                            <p id="created-at">· <%= post.created_at.getDate() %> de <%= meses[post.created_at.getMonth()] %></p>
                        </div>

                        <% if (post.user.id == user.id){%>
                        
                            <div class="logedInBtns">
                                <script >
                                        function openPopup_() {
                                          var overlay = document.getElementById('overlay_');
                                          var popup  = document.getElementById('popup_');
                                          overlay.style.display = 'block';
                                          popup.style.display = 'block';
                                        }
                                        
                                        function cancelPopup_() {
                                          var overlay = document.getElementById('overlay_');
                                          var popup = document.getElementById('popup_');
                                          overlay.style.display = 'none';
                                          popup.style.display = 'none';
                                        }
                                        
                                        function sendData_() {
                                          var inputValue = document.getElementById('inputText').value;
                                         
                                          console.log('Valor do input:', inputValue);
                                          cancelPopup();
                                        }           
                                </script>
          
                                  
                                    
                                    <button class="editPost" onclick="openPopup_()" type="button" class="trash">
                                      <img id="editPost" src="../imagens/post-edit.png" alt="">
                                    </button>
                                 
                                  <div id="overlay_" class="overlay_"></div>   
                                  <div class="section_" id="popup_">
              
                                      <form action="/editar-post" method="POST">
                                          <div class="container-edit">
                                              
                                              <div class="content">
                                                  <div class="options">
                                                      
                                                  </div>
                                                  <div class="edit-post">
                                                      <input name="edit_post_id" type="hidden" value="<%=post.id%>">
                                                      <input name="new_conteudo" type="text" id="input-edit" value="<%=post.content%>">
                                                  </div>
                                              </div>
                                              
                                              <div class="edit-btns">
                                                      <button onclick="cancelPopup_()" type="button" id="cancelar">
                                                          Cancelar
                                                      </button>
                                          
                                                        <button type="submit" id="update">
                                                            Update 
                                                        </button>
                                              </div>
                                          </div>
                                      </form>
                                      
                                  </div>
          
          
          
                                <form action="/deletar-post" method="POST">
                                  <input type="hidden" name="post_id" value="<%= post.id%>">
                                  <button id="deletePost" type="submit" class="trash">
                                    <img src="../imagens/trash.png" alt="">
                                  </button>
                                </form>
                              </div>
                        <%}%>  

                    </div>
                    <div id="post-content">
                        <p>
                            <%= post.content %>
                        </p>  
                    </div>
                    <img id="comment-img" src="../imagens/opened-comments.png" alt="">
                </div>

                <% post.comments.reverse().forEach((comment)=>{%>
                <div class="comment">
                    <div id="b-top"></div>
                    <div id="comment-user-infos">
                        <div id="comment-user-personal-infos"> 
                            <img id="img-comment" src="data:image/jpeg;base64, <%=comment.user.userImg %>" alt="">
                            <p id="comment-owner"><%=comment.user.username%></p>
                        </div>
                            <div id="trash">
                                <%if (logIn && (user.admin)){%>
                                  <form action="/deletar-comment" method="POST">
                                    <input type="hidden" name="comment_id" value="<%= comment.id%>">
                                    <button id="deleteComment" type="submit" class="trash">
                                      <img src="../imagens/trash.png" alt="">
                                    </button>
                                  </form>
                                <%}%>
                              </div>
                    </div>
                    <div id="comment-content">
                        <p>
                            <%= comment.content%>
                        </p>  
                    </div> 
                </div>
                <%})%>
                <%if (logIn){%>
                <div class="comment-space">
                    <script >
                        function openPopup() {
                      var overlay = document.getElementById('overlay');
                      var popup  = document.getElementById('popup');
                      overlay.style.display = 'block';
                      popup.style.display = 'block';
                    }
                    
                    function cancelPopup() {
                      var overlay = document.getElementById('overlay');
                      var popup = document.getElementById('popup');
                      overlay.style.display = 'none';
                      popup.style.display = 'none';
                    }
                    
                    function sendData() {
                      var inputValue = document.getElementById('inputText').value;
                      // Aqui você pode fazer a requisição POST usando o valor do input
                      // por exemplo, usando fetch() ou XMLHttpRequest
                      console.log('Valor do input:', inputValue);
                      cancelPopup();
                    }
                    
                    </script>
                         <button class="comment-btn" type="button" onclick="openPopup()">
                            Comentar
                        </button>
                        

                    <div id="overlay" class="overlay"></div>   
                    <div class="section" id="popup">

                        <form method="POST">
                            <div class="container-comment">
                                
                                <div class="content">
                                    <div class="options">
                                        
                                    </div>
                                    <div class="criar-post">
                                        <input name="conteudo" type="text" id="input-post">
                                    </div>
                                </div>
                                
                                <div class="post-btns">

                                
                                        <button onclick="cancelPopup()" type="button" id="cancelar">
                                            Cancelar
                                        </button>
                            
                                    <button type="submit" id="publicar">
                                        Publicar
                                    </button>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                    
                       
                    
                </div>
                <%}%>
            </div>
        </div>

        

        </section>


    </body>
</html>