<%- include("header.ejs", {title:"Feed", logIn, username, img}) %>

        <section>

            <div class="posts">
                <% if (logIn){%>
                    <script >
                        function openPopup() {
                      var overlay = document.getElementById('overlay');
                      var popup  = document.getElementById('popup');
                      overlay.style.display = 'block';
                      popup.style.display = 'block';
                    }
                    
                    function cancelPopup() {
                      var overlay = document.getElementById('overlay');
                      var popup = document.getElementById('popup');
                      overlay.style.display = 'none';
                      popup.style.display = 'none';
                    }
                    
                    function sendData() {
                      var inputValue = document.getElementById('inputText').value;
                      // Aqui você pode fazer a requisição POST usando o valor do input
                      // por exemplo, usando fetch() ou XMLHttpRequest
                      console.log('Valor do input:', inputValue);
                      cancelPopup();
                    }
                    
                    </script>
                        <button type="button"  onclick="openPopup()" id="criar-post" >Criar Publicação</button>
                        

                    <div id="overlay" class="overlay"></div>   
                    <div class="section" id="popup">

                        <form method="POST">
                            <div class="container">
                                
                                <div class="content">
                                    <div class="options">
                                        
                                    </div>
                                    <div class="criar-post">
                                        <input name="conteudo" type="text" id="input-post">
                                    </div>
                                </div>
                                
                                <div class="post-btns">

                                    
                                        <button onclick="cancelPopup()" type="button" id="cancelar">
                                            Cancelar
                                        </button>
                                 
                                    <button type="submit" id="publicar">
                                        Publicar
                                    </button>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                <%}%>

                <% posts.reverse().forEach((post)=>{ %>
                <div class="post">
                    <div id="post-user-infos">
                        <img id="img-post" src="data:image/jpeg;base64, <%=post.user.userImg%>" alt="">
                        <a href="/perfil/<%=post.user.id%>" id="link-name">
                            <p id="post-owner"><%= post.user.username%></p>

                        </a>
                        <% const meses = ["jan", "fev", "mar", "abr","mai", "jun", "jul", "ago","set", "out", "nov", "dez"]; %>
                        <p id="created-at">· <%= post.created_at.getDate() %> de <%= meses[post.created_at.getMonth()] %></p>
                    </div>
                    <div id="post-content">
                        <p>
                            <%=post.content%>
                        </p>  
                    </div>
                    <a href="/comentarios/<%=post.id%>">
                        <img id="comment-img" src="../imagens/comment.png" alt="">
                    </a>
                </div>
                <%})%>
            </div>
        </section>
    </body>
</html>
