<%- include("header.ejs", {title:"Feed", logIn, username, img}) %>

        <section>

            <div class="posts">
                <% if (logIn){%>
                        <a href="/criar-post">
                            <button type="button" id="criar-post" >Criar Publicação</button>
                        </a>
                <%}%>

                <% posts.reverse().forEach((post)=>{ %>
                <div class="post">
                    <div id="post-user-infos">
                        <img id="img-post" src="../imagens/image 1.png" alt="">
                        <a href="/perfil/<%=post.user.id%>" id="link-name">
                            <p id="post-owner"><%= post.user.username%></p>

                        </a>
                        <% const meses = ["jan", "fev", "mar", "abr","mai", "jun", "jul", "ago","set", "out", "nov", "dez"]; %>
                        <p id="created-at">· <%= post.created_at.getDate() %> de <%= meses[post.created_at.getMonth()] %></p>
                    </div>
                    <div id="post-content">
                        <p>
                            <%=post.content%>
                        </p>  
                    </div>
                    <a href="/comentarios/<%=post.id%>">
                        <img id="comment-img" src="../imagens/comment.png" alt="">
                    </a>
                </div>
                <%})%>
            </div>
        </section>
    </body>
</html>
